<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hostel_Management.My.MySettings.Room1ConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Room1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Hostel_Management.My.MySettings.Room_1ConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Room_1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Hostel_Management.My.MySettings.RoomsConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Rooms;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Hostel_Management.My.MySettings.StudentConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Student;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Hostel_Management.My.MySettings.EmployeeConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Employee;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Hostel_Management.My.MySettings.FeesConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Fees;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>